html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  color: #212734;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
